language: cpp

os:
  - osx
  - linux

sudo: required
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-5
      - g++-5
      - build-essential
      - cmake
      - cmake-data
      - git
      - libgtk2.0-dev
      - pkg-config
      - libavcodec-dev
      - libavformat-dev
      - libswscale-dev
      - python-dev
      - python-numpy
      - libtbb2
      - libtbb-dev
      - libjpeg-dev
      - libpng-dev
      - libjasper-dev
      - libdc1394-22-dev
      - libgl1-mesa-dev
      - unzip

install:
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then
      brew update;
      brew install python3;
      sudo mkdir /opt/qt;
      sudo chmod 777 /opt/qt;
      sudo ln -s /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild /Applications/Xcode.app/Contents/Developer/usr/bin/xcrun;
      rm -r '/usr/local/lib/python2.7/site-packages/numpy';
      rm '/usr/local/bin/f2py';
      brew install numpy;
      brew info opencv3;
      brew install opencv3;
      ls /usr/local/Cellar/opencv;
      OPENCV_VERSION="$(ls -1 /usr/local/Cellar/opencv)";
      echo $OPENCV_VERSION;
      export OPENCV_DIR=/usr/local/Cellar/opencv/$OPENCV_VERSION;
      echo $OPENCV_DIR;
      echo $PWD;
      cd build;
      wget https://github.com/livecv/live-pm/archive/master.zip;
      unzip master.zip;
      mv live-pm-master/* .;
      wget http://download.qt.io/official_releases/qt/5.11/5.11.1/qt-opensource-mac-x64-5.11.1.dmg;
      ls;
      hdiutil attach -mountpoint installqt qt-opensource-mac-x64-5.11.1.dmg;
      ./installqt/qt-opensource-mac-x64-5.11.1.app/Contents/MacOS/qt-opensource-mac-x64-5.11.1 --script resources/install-qt-macos.qs --verbose --silent -platform minimal;
      ls /opt/qt/5.11/clang_64;
      export QTDIR=/opt/qt/5.11/clang_64;
    fi
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      sudo apt-get install -y libtiff5 libtiff5-dev;
      git clone --single-branch -b 3.4 https://github.com/opencv/opencv.git;
      cd opencv;
      mkdir build;
      cd build;
      cmake ..;
      make -j8;
      sudo make -j8 install;
      export OPENCV_DIR=/usr/local/lib;
      cd ../../build;
      wget https://github.com/livecv/live-pm/archive/master.zip;
      unzip master.zip;
      mv live-pm-master/* .;
      wget http://download.qt.io/official_releases/qt/5.11/5.11.1/qt-opensource-linux-x64-5.11.1.run;
      sudo chmod 777 qt-opensource-linux-x64-5.11.1.run;
      ./qt-opensource-linux-x64-5.11.1.run --script resources/install-qt.qs --verbose --silent -platform minimal;
      export QTDIR=/opt/qt/5.11/gcc_64;
    fi

script:
  - ls
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then python3 livepm/main.py build .. macos_clang_64; fi
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then python3 livepm/main.py build .. gcc_64; fi
  - find .
  - if [ "${TRAVIS_OS_NAME}" == "osx" ]; then python3 livepm/main.py deploy .. macos_clang_64; fi
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then python3 livepm/main.py deploy .. gcc_64; fi
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then python3 livepm/main.py deploy .. gcc_64_standalone; fi
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
      python3 livepm/main.py makedoc ..;
      export LIVECV_DOC=$(ls doc*.tar.gz | tail -n +1 | head -1);
      mv ${LIVECV_DOC} livecv-doc.tar.gz;
    fi
  - ls

before_deploy:
  - ls *.tar.gz
  - export LIVECV=$(ls live*.tar.gz | tail -n +1 | head -1)
  - echo ${LIVECV}

deploy:
  provider: releases
  api_key:
    - secure: "uoyLbdtkGr8IDnyECv747iVkAsxMdqQR1v9wfwbEj4lsSHZ2E+Y3ShZMmV2AZUK86ajksBOvfMUYVo8P2JTQUsQtduu9SAIFF2MxxIVQbwmdF27cvnSUDFQjkU6h2UDNbgdi2I6rtH2g1Adhx/C45my0NQdvbhB9fEV3H+Z8g0YmoBDu3MZFGZknpf/PpNzaoGtHATo+0VooqCrAZhR9M1igGQF2ibU8z8E9xm04ehSjlMoXWv15GWmwOmkjQSe/mkeOUJ9Bl2LuIk3PcIv7uJNle5GgteQM+++iru59kZSXTLqih2peZVT7BLQ3c4gUZCtLASFPXwoQH2n4VMz4OeGv4b9LMw9bvwQ+eM8//enDDyIy2fP6KQu2BdLIScNX6B4eitxVMEcOXRHOc4xmlXqNloCOtGONaZ7w3OnwPj/O38ThM8c4riq1sh1TFBabRge8VGkBiKU3cDYPdGM2uMxST0swcrgBqu0UZ45xCftbF1tqJjs6K6ZS1v298KVlHcxyfdSJTDKCEOyTJXH6at2yYhQZ9RKrimZE5aiK0h3dsflKrmMXKDWWmQmAB7WxRQhNjEDuULvhq0f5z+oLDbL1hGSYM09196fyUDLeRY7wdYoIVaH3ebk5j6b+ar9RaQ16MoERBxR1ULUcs5gJHxCWPwyb4jRZBeMJJwzNF3Q="
  file_glob: true
  file:
    - live*.tar.gz
  skip_cleanup: true
  on:
    tags: true
